<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1008409613903-92mssk2qjsl9pv1msqortsosr8dop0j1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1008409613903-92mssk2qjsl9pv1msqortsosr8dop0j1</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1008409613903-vcb8pgorrosepakorp0dl03qdhrq79dt.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAmpz0gJpitNn5hP_re6NL7_9klcHHvbFA</string>
	<key>GCM_SENDER_ID</key>
	<string>1008409613903</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.s.wiyakm</string>
	<key>PROJECT_ID</key>
	<string>wiakum-662d2</string>
	<key>STORAGE_BUCKET</key>
	<string>wiakum-662d2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1008409613903:ios:a40a9ec36cc44fbfcbbc3a</string>
</dict>
</plist>